version: '3'
services:
  db:
     image: mysql:5.7
     volumes:
       - db-volume:/var/lib/mysql
     environment:
      - MYSQL_ROOT_PASSWORD=password
  web:
     build: .
     command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
     volumes:
       - .:/myapp
     ports:
       - "80:3000"
     depends_on:
       - db
     tty: true
     stdin_open: true
volumes:
   db-volume:
