<div class="privacy">
  <div class="row">
     <h3>プライバシーポリシー</h3><br>
      <h4>広告の配信について</h4><br>
      <p class="privacy-body">
         当サイトへのコメントについて<br><br>
         当サイトでは、スパム・荒らしへの対応として、コメントの際に使用されたIPアドレスを記録しています。<br><br>
         これはブログの標準機能としてサポートされている機能で、スパム・荒らしへの対応以外にこのIPアドレスを使用することはありません。<br><br>
         また、メールアドレスとURLの入力に関しては、任意となっております。全てのコメントは管理人が事前にその内容を確認し、承認した上での掲載となりますことをあらかじめご了承下さい。<br><br>
         加えて、次の各号に掲げる内容を含むコメントは管理人の裁量によって承認せず、削除する事があります。<br>

         ・特定の自然人または法人を誹謗し、中傷するもの。<br>

         ・極度にわいせつな内容を含むもの。<br>

         ・禁制品の取引に関するものや、他者を害する行為の依頼など、法律によって禁止されている物品、行為の依頼や斡旋などに関するもの。<br>

         ・その他、公序良俗に反し、または管理人によって承認すべきでないと認められるもの。<br><br>

          免責事項<br>

          当サイトで掲載している画像の著作権・肖像権等は各権利所有者に帰属致します。権利を侵害する目的ではございません。記事の内容や掲載画像等に問題がございましたら、各権利所有者様本人が直接メールでご連絡下さい。確認後、対応させて頂きます。<br><br>

          当サイトのコンテンツ・情報につきまして、可能な限り正確な情報を掲載するよう努めておりますが、誤情報が入り込んだり、情報が古くなっていることもございます。<br>

          当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。<br><br>
        </p>
  </div>
</div>