<div class="search">
  <div class="row">
    <div class="text-center">
      <%= form_tag(search_books_path, method: :get, class: "form-inline") do %>
        <div class="form-group">
          <%= text_field_tag :title, @title, class: "form-control input-mg", placeholder: "キーワードを入力", size: 40 %>
        </div>
        <%= submit_tag "技術書を検索", class: "btn btn-primary btn-mg" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "books", books: @books %>