// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-show {
  padding-top: 50px;
  padding-bottom: 30px;
}

.bookshelf-buttom {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.search {
  padding-bottom: 50px;
}

.search_backimage {
  width: 100%;
  height: 2150px;
  background-image: url(.jpg);
}