// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.usershow-book {
    text-align: center;
}

.user-show {
    padding-bottom:30px;
}

.user-edit {
	padding: 0 30px;
}

.edit-user-form {
	padding-top: 30px;
}

.term_button {
	padding-right: 20px;
}

.user-calendar {
	padding: 50px;
}

.remove {
	display: none;
}
