// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.usershow-book {
    text-align: center;
}

.user-edit {
	padding:0 30px;
}

.edit-user-form {
	padding-top:30px;
}